@media all and (max-width:1360px){
    .container{
        width: 95%;
    }
}

@media all and (max-width:768px){
    
    .header-menu{
        position: absolute;
        top: 70px;
        right: -100%;
        width: 300px;
        z-index: 999;
        transition: 0.4s all linear;
    }
    .header-menu.menuSlide{
        right: 0;
    }
    .menu-bars{
        display: block;
    }
    .mainBar{
        display: inline-block;
    }
    .xmark{
        display: none;
    }
    .header-menu ul{
        display: block;
        background: #ccc;
    }
    .header-menu ul li{
        padding: 2rem 3rem;
    }
    .header-menu ul li a{
        padding: 0;
    }
    .menu-bars{
        padding: 2rem;
        text-align: right;
    }
    .menu-bars a{
        font-size: 2.5rem;
        color: var(--color01);
    }
}

@media all and (max-width: 576px){
    
}
@media all and (max-width: 480px){}
@media all and (max-width: 410px){}
@media all and (max-width: 350px){}
